%% SIMULATION PARAMETERS
% Lines starting with the percent sign are ignored and can be used for comments

% Boolean used to reset the folder structure and reload everything
reset = 0 B

% Boolean used to enable the drawing of plots and other cool stuff
draw = 0 B

% Booelan used to store the transmission data, that is each TB, codeword, waveform
storeTxData = 0 B

% Integer used to control the number of scheduling rounds (subframes) to simulate
schRounds = 100 I

% Integer used to set the number of RBs for a macro eNodeB
numSubFramesMacro = 50 I

% Integer used to set the number of RBs for a micro eNodeB
numSubFramesMicro = 25 I

% Integer used to set the number of RBs for the uplink
numSubFramesUE = 25 I

% Integer used to specify the number of macro eNodeBs in the scenario (currently only 1)
numMacro = 1 I

% Integer used to specify the number of micro eNodeBs in the scenario
numMicro = 1 I

% Array of char to deicde the positioning of the micro BS
microPos = 'uniform' C

% Double radius of distance from centre for microBS in metres
microUniformRadius = 100 D

% Double used to specify the height in metres of the macro eNodeBs
macroHeight = 35 D

% Double used to specify the height in metres of the micro eNodeBs
microHeight = 25 D

% Double used to specify the height in metres of the UEs
ueHeight = 1.5 D

% Double interval used to specify the height interval in metres of the buildings
buildingHeight = [20,50] AD

% Integer used for the simulation seed
seed = 122 I

% Double used for the UE velocity in km/h
velocity = 3 D

% Integer used for the number of UEs
numUsers = 1 I

% Integer for the threshold for the low utilisation range (>= 1)
utilLoThr = 1 I

% Integer for the threshold for the high utilisation range (<= 100)
utilHiThr = 100 I

% Double used for the uplink carrier frequency in MHz
ulFreq = 1747.5 D

% Double used for the downlink carrier frequency in MHz
dlFreq = 1842.5 D

% Double used for the maximum size of a TB for storing in bits
maxTbSize = 97896 D

% Double used for the maximum size of a codeword for storing in bits
maxCwdSize = 10e5 D

% Double used for the maximum size of a list of OFDM symbols for storing
maxSymSize = 10e5 D

% Integer used for the number of OFMD symbols in a RB
prbSym = 160 I

% Double used for the UE noise figure in dB
ueNoiseFigure = 7 D

% Integer used for the number of RE in a RB
prbRe = 168 I

% Double to set the maximum radius within which eNodeBs are considered as neighbours in metres
nboRadius = 100 D

% Double to set the hysteresis timer threshold in s
tHyst = 0.002 D

% Double to set the eNodeB switching on/off timer in s
tSwitch = 0.001 D

% Boolean to clean the results folder
rmResults = 1 B

% Integer to choose the mobility scenario 1 is pedestrian UEs, 2 is vehicular UEs
mobilityScenario = 1 I

% Boolean to save a whole LTE frame for the macro eNodeB for testing
saveFrame = 1 B

% String to choose the intereference coordination scheme (currently only 'none')
icScheme = 'none' C

% Boolean to control the generation of a heatmap of the pathloos in the scenario
generateHeatMap = 0 B

% String to control the type of heatmap
heatMapType = 'perStation' C

% Heatmap resoultion in metres
heatMapRes = 10 D

% String to control the channel mode in DL and UL
channelModeDL = 'winner' C
channelModeUL = 'eHATA' C

% String to control the channel region
channelRegion = 'DenseUrban' C

% String for the scheduling policy to use (currently only 'roundRobin')
scheduling = 'roundRobin' C

% Path for loading the file with the buildings
buildings = 'mobility/buildings.txt' C

% Double to choose the interval in ms to run refreshUsersAssociation
refreshAssociationTimer = 20 I

% Double to choose the interval in ms to run syncRoutine
syncRoutineTimer = 1 D

% Integer to choose the maximum number of HARQ retransmissions
harqRtx = 3 I

% Integer array for the redundacy version values
rvSeq = [1,3,2] AI

% Integer to choose the number of parallerl HARQ processes
harqProc = 8 I

% Boolean used to enable retransmissions
rtxOn = 1 B

% Timer for flushing out of place TBs in the RLC buffer in seconds
arqBufferFlush = 20 D

% Maximum number of TBs that the RLC can store at the same time as integer
arqBufferSize = 1024 I

% Integer to choose the maximum number of ARQ retransmissions
arqRtx = 1 I

% PUCCH format (only 2 and 3 work)
pucchFormat = 2 I

% X2 Handover timer in s (time needed from starting and handover to its completion)
handoverTimer = 0.002 D